
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$lightgreen: #d7f6a1;
$yellowgreen: #9ac427;
$mediumgreen: #4f6514;
$darkgreen: #29340a;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$yesteryear: "Yesteryear", Yesteryear, serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
